*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.home{
    height: 500px;
    background-color: rgb(255, 136, 0);
}
.container{
    max-width: 1100px;
    margin: auto;
}
.home-content{
    display: flex;
    width: 100%;
    align-items: center;
    padding-top: 20px;
    justify-content: space-between;
}
.img{
    width: 48%;
    border: 15px solid white;
    height:400px;
    background-color: #fff;
}
.text{
    width: 48%;
}
.text p{
    margin: 30px 0;
    color:#444;
    font-style: italic;
    line-height: 25px;
}
.text button{
    padding: 15px 25px;
    background-color: green;
    outline: none;
    border-radius: 5px;
}
.text button a{
    text-decoration: none;
    color: white;
}
.img img{
    height:100%;
    width: 100%;
}
.main{
    background-color: rgb(207, 207, 207);
    padding:50px 0 ;
}
.main-content{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.content-top{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.block1{
    display: flex;
    flex-direction: column;
    width: 32%;
}
.block1 .logo{
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-bottom: 10px;
}
.content-bottom{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 30px;
}




